#page {
	width:100%;
}

#navbarSupportedContent {
	justify-content: end;
}

.footer {
	display: flex;
	justify-content: center;
}

.footer_page {
	border-width: thin;
	border-style: outset;
	min-width: 20px;
	text-align: center;
}

#send_money{
	width: 800px;
	margin: auto;
}

#send_money_header{
	display: flex;
	justify-content: space-between;
}

#formulaire {
	display: flex;
	justify-content: space-between;
}

#transactions{
	width:800px;
	margin:auto;
	position: relative;
	margin-top: 10px;
}

table{
	width:800px;
	margin: auto;
}

th{
	background-color: green;
	height: 60px;
	color:white;
}
tr{
	height: 60px;
}